@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav img{
    width: 400px;
}
.navegacao{
    display: flex;
    flex-direction: column;
}
.navegacao ul{
    list-style: none;
}

.navegacao li{
    padding-top: 30px;
    text-align: right;
}

.navegacao a{
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero img{
    width: 100%;
}