@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
     font-family: "Roboto", serif;
}


.logo{
    display: block;
}

.logo img{
    width: 300px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    padding: 40px;
}


nav a{
    text-decoration: none;
    color: black;
    padding: 10px;

}

button{
    padding: 10px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero img{
    position: absolute;
    top: 200px;
    width: 800px;
}
.hero p {
    position: relative;
    top: 200px;
    left: 380px;
    z-index: 1;
    width: 200px;
    text-align: justify;
    padding: 10px;
    color: rgb(0, 0, 0);
}


.tecidos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    align-items: start;
    margin: 50px;
}

.produto {
    display: flex;
    flex-direction:column ;
}
.imagem{
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem img{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.info{
    border-top: 1px solid rgba(0, 0, 0, 0.404);
    margin: 10px 0px;
    padding: 10px 0px;
}
.info p {
    padding: 2px;
}














.sobre{
    display: flex;
    justify-content: center;

}

.sobre h1{
    width: 500px;
    font-size: 70px;
    margin-top: 600px;
}

.sobre p {
    padding: 20px 0px;
    width: 460px;
}




.sobre img{
    margin-top: 600px;
    width: 40%;
}

